.title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 325px;
    width: 100%;
    background-color: #DEDEDE;
    background-image: url('/static/images/index/title.png');
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
}

.title .text {
    text-align: center;
    color: white;
    line-height: 4;
    font-size: 24px;
    font-weight: 500;
}