#map { 
    height: 100vh;
    width: 100vw;
    border: 0px;
}

.menu {
    left: 11.4%;
    width: 84.9%;
}

body {
    padding-top: 0px;
}

.mapboxgl-ctrl.mapboxgl-ctrl-attrib {
    background-color: white;
    border-top-left-radius: 20px;
}