{% extends "base.html" %}

{% block title %}Вступление{% endblock %}

{% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">

<script type="text/javascript" src="https://vk.com/js/api/openapi.js?168" charset="windows-1251"></script>
<script type="text/javascript">
  VK.init({ apiId: 51698534 });
</script>
{% endblock %}

{% block body %}
<div class="profile first">
    <img src="{{ photo }}" alt="User's photo" class="photo">
    <div class="info">
        <div class="name">
            <div class="first-name">{{ first_name }}</div>
            <div class="last-name">{{ last_name }}</div>
        </div>
        <div class="id">ID: {{ user_id }}</div>
        {% if user_id == "Неизвестно" %}
            <div id="vk-auth" class="add-info"></div>
            <script type="text/javascript">
              VK.Widgets.Auth("vk-auth", {authUrl: "/profile/login"});
            </script>
        {% else %}
            <a class="add-info" href="/profile/logout">Выйти</a>
        {% endif %}
    </div>
</div>
{% endblock %}