<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="{{ url_for('static', filename='images/favicon.png') }}" type="image/png" rel="icon">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">

        {% block links %}{% endblock %}

        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        {% block body %}{% endblock %}
        <div class="menu">
            <a href="/" class="logo"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="OOVC"></a>
            <div class="items">
                <a href="/" class="item">Главная</a>
                <a href="/countries" class="item">Страны</a>
                <a href="/map" class="item">Карта</a>
                <a href="/history" class="item">История</a>
                <a href="/profile" class="item">Профиль</a>
            </div>
        </div>
    </body>
</html>