<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="{{ url_for('static', filename='images/favicon.png') }}" type="image/png" rel="icon">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
        <script src="{{ url_for('static', filename='js/base.js') }}"></script>

        {% block links %}{% endblock %}

        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <div class="menu element-animation">
            <a href="/" class="logo"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="OOVC"></a>
            <a href="/" class="item">Главная</a>
            <a href="/countries" class="item">Страны</a>
            <a href="/map" class="item">Карта</a>
            <a href="/history" class="item">История</a>
            <a href="/profile" class="item">Профиль</a>
            <a href="" class="lang"></a>
        </div>
        {% block body %}{% endblock %}
    </body>
</html>